/******************** Définition des polices personnalisées ********************/
@font-face
{
    font-family: 'Raleway';
    src: url('Fonts/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family:'Raleway', Arial, Helvetica, sans-serif;
} 

ul{
    list-style: none;
} 

.gras{
    font-weight: bold;
}

#hebergements{
    background-color: #f2f2f2;
    width: 60%;
}

#liste_hebergements{
    display: flex;
    flex-wrap: wrap;
}

.vignette_hebergement{

    background-color: white;
    border-radius: 5px;
    width: 25%;
    margin: 9px;
    padding: 5px;
    /*arrondir les quatre coins des vignettes*/
    border-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.frame{
    margin: 1Opx;
    position: relative
    
    }

#filtres {
    justify-content: initial;
    flex-direction: row;
    }

.fa-star{
    color: #0065FC;
}

.lightblue {
    color:grey;
}
img {
    width: 25%;
    height: 25%;
    }


