/******************** Définition des polices personnalisées ********************/
@font-face
{
    font-family: 'Raleway';
    src: url('Fonts/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family:'Raleway', Arial, Helvetica, sans-serif;
    margin: auto; 
    max-width: 1200px;
} 

ul{
    list-style: none;
} 

.gras{
    font-weight: bold;
}



#hebergements{
    background-color: #f2f2f2;
    width: 70%;
    border-radius: 18px;
    padding-bottom: 25px;
    
}

#hebergements h3{
    padding-left: 35px;
    margin: 35px 0px 0px 0px;

}
#liste_hebergements{
    display: flex;
    flex-wrap: wrap;
    padding: 0px 15px;
    margin: 0; 
}

.vignette_hebergement{

    background-color: white;
    border-radius: 15px;
    width: 27%;
    margin: 20px;
    padding: 5px;
    /*arrondir les quatre coins des vignettes*/

}

.vignette_hebergement img{
    object-fit: cover;
    width:  100%;
    height: 100px;
    border-radius: 15px 15px 0px 0px;

}

.vignette_hebergement h4 {
    margin: 8px 6px; 
    height: 14px; 
}
.vignette_hebergement p{
    font-size: 13px;
    margin: 6px;
}
.vignette_hebergement div{
    padding-left: 6px;
}

.fa-star{
    font-size: 10px;
}

#hebergements a{
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding-left: 35px;

}
.description_populaires{
    justify-content: initial;
    flex-direction: row;

}        



#populaires{
    background-color: #f2f2f2;
    width: 28%; 
    
}



#Hebergements_populaires {
    display: flex;
    justify-content: space-between;

}

#liste_populaires{
    padding: 15px;
} 

.vignettes_plus_populaires{
    background-color: white;
    width: 100%;
    margin: 10px;
    padding: 5px;
    /*arrondir les deux coins gauche haut et bas des vignettes*/
    border-radius: 5px;
    display: flex; flex-direction: row;
}

.fa-chart-line{

}
    


.vignettes_plus_populaires img{
    object-fit: cover;
    width:  22%;
    height: 100px;
    border-radius: 8px 0px 0px 8px;
}    

.description_populaires h3{
    margin: 6px;
    height: 6px; 

}

.description_populaires p{
    font-size: 9px;
    margin: 6px;

}


.fa-star{
    font-size: 11px;
    color: #0065FC; 
}

.frame{
    margin: 1Opx;
    position: relative;
    /*arrondir les angles du fond gris*/
    border-bottom-left-radius: 30%;

}

.fa-chart-line {
    padding-top: 0%;  
    font-size: 7px;

}

.description_populaires{ 
    justify-content: initial;
    flex-direction: row;
    }



.lightblue {
    color:grey;
}


.activités_marseille{

}

.description_activités_marseille{
    

}



