@media all and (max-width: 992px) {



    #Hebergements_populaires {
        flex-direction: column;

    }
    #hebergements{
        width: 100%;
        text-align: center;
    }

    #hebergements h3 {
            margin: 35px 0px 20px 0px;
        }    

    #populaires{
        width: 100%;
        margin-top: 10px;
    }

    #liste_hebergements{
        justify-content: center;
    }

    .vignette_hebergement{
        width: 25%;
        min-width: 210px;
        margin: 10px;
    }

    .liste_activites{
        flex-direction: column; 
        height: unset;

    }

    .liste_activites div{
        width: 100%;
    }


    footer{
        flex-direction: column;
        align-items: center;

    }

    footer div{
        padding: 0px;
    }

}