@media screen and (max-width: 376px) {
    #Hebergements_populaires{
        flex-direction: column-reverse;
    }    

    #logo_inscrire{
        display: flex;
        justify-content: space-between;

    }
     
        

    #menu_navigation ul{
        padding: 0px;

    }
    .element_navigation{
        margin: 0px;


    }

    .element_navigation:hover{
        border-bottom: 2px solid #0065FC;
        border-top: none;

    }

    #menu_navigation ul li{
        width: 50%; 
        text-align: center;
        padding: 20px 20px 20px 20px;

    }

    #filtres p {
        width: 100%;
        text-align: left;
    }     


    #button_recherche{ 
        display: none;
    }

    #button_loupe{ 
        display: initial;
    }


    #populaires {
        width: 100%;
        border-radius: 0px;
    
    } 

    #hebergements {
        width: 100%;
        background-color: white;
    }

    #hebergements a {
        padding-left: 15px;
    }

    

    #liste_hebergements {
        flex-direction: column;
        margin-right: 10px; 
        margin-bottom: 15px; 

    }
    .vignette_hebergement {
        margin: 10px 0px;
        width: 100%;
    
    }
    .liste_activites{
        flex-direction: column;
        height: unset;
    }

    .liste_activites div {
        width: 100%;
    }
    .Activites{
        height: 200px !important;
        margin-bottom: 30px;
    }
    #Activites_Marseille{
        padding: 0px 15px; 

    }
    footer{
        flex-direction: column;
    }


}
