/******************** Définition des polices personnalisées ********************/
@font-face
{
    font-family: 'Raleway';
    src: url('Fonts/Raleway-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family:'Raleway', Arial, Helvetica, sans-serif;
} 

ul{
    list-style: none;
} 

.gras{
    font-weight: bold;
}

#hebergements{
    background-color: #f2f2f2;
    width: 60%;
}

#liste_hebergements{
    display: flex;
    flex-wrap: wrap;
}

.vignette_hebergement{

    background-color: white;
    border-radius: 5px;
    width: 25%;
    margin: 9px;
    padding: 5px; 

}
    .images_petit{
        width: 30%;
        height: 30%
    }

    #conteneur{
        display: flex;
        justify-content: space-around;

    }

    .element{
        margin: auto; 

    }
    
    .section {
        display: inline-block
    }


#filtres{
    display: flex; 
     
}
#filtres li { 
    border: tomato 1px solid; 
    padding: 10px;
    }

.fa-star{
    color: #0065FC;
}

.lightblue {
    color:grey;
}
img {
    width: 50px;
}

